/*sass --watch sass/estilos.scss css/estilos.css*/
/*Declaracion de colores*/
/*fonts*/
/*boton*/
/*Resetear valores generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TiroTamil";
}

/*Import fuentes*/
@font-face {
  font-family: "TiroTamil";
  src: url(./media/TiroTamil-Regular.ttf);
}
@font-face {
  font-family: "Sendflowers";
  src: url(./media/Send_Flowers/SendFlowers-Regular.ttf);
}
/*Font size*/
html {
  font-family: "TiroTamil";
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.5rem;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
header {
  background-color: #0c0908;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .logo {
  width: 60px;
}
header nav {
  width: 60%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}
header nav ul li a:hover {
  color: #E45EC2;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Banner presentacion Index*/
.bannerPresentacion {
  background-image: url(../media/bannerpresentacionn.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 100px 0;
}
.bannerPresentacion .we {
  font-family: "Sendflowers";
  font-size: 6rem;
}

/*Cuadros Img generales Index*/
.cuadrosPresentacion {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.cuadrosPresentacion section {
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: #E45EC2;
}
.cuadrosPresentacion section img {
  width: 200px;
  height: auto;
  border-radius: 50px;
}
.cuadrosPresentacion section p {
  margin: 20px;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 50px;
}

/*Segundo banner Index*/
.bannerSegundo {
  background-image: url(../media/Bannersegundo.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
  padding: 50px 0;
}

/*Tarjetas Index*/
.tarjetas-index .tarjetas {
  width: 18rem;
  background-color: hsl(315, 93%, 89%);
  margin-bottom: 20px;
}
.tarjetas-index .tarjetas .boton {
  background-color: #4CAF50;
  border-color: #0c0908;
}
.tarjetas-index .tarjetas .boton:hover {
  background-color: #F0ABCC;
  border-color: #E45EC2;
}

.texto-card p {
  background-color: rgba(228, 94, 194, 0.5490196078);
  font-family: "TiroTamil";
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Main Servicios*/
/*Banner servicios*/
.bannerServicios {
  background-image: url(../media/bannerservicios.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 100px 0;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.bannerServicios .we {
  font-family: "Sendflowers";
  font-size: 6rem;
}
.bannerServicios h2 {
  font-size: 2rem;
  margin-top: 15px;
}

/*Tarjetas servicios*/
.tarjetas {
  height: 400px;
  padding: 5px;
}
.tarjetas img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  transition: 0.5s;
}
.tarjetas img:hover {
  transform: scale(1.2);
}
.tarjetas .boton {
  background-color: #4CAF50;
  border-color: #0c0908;
}
.tarjetas .boton:hover {
  background-color: #F0ABCC;
  border-color: #E45EC2;
}

/*# sourceMappingURL=estilos.css.map */
