/*sass --watch sass/estilos.scss css/estilos.css*/
/*Declaracion de colores*/
/*fonts*/
/*boton*/
/*Resetear valores generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TiroTamil";
}

/*Import fuentes*/
@font-face {
  font-family: "TiroTamil";
  src: url(./media/TiroTamil-Regular.ttf);
}
@font-face {
  font-family: "Sendflowers";
  src: url(./media/Send_Flowers/SendFlowers-Regular.ttf);
}
/*Font size*/
html {
  font-family: "TiroTamil";
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.5rem;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Header*/
header {
  background-color: #0c0908;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .logo {
  width: 60px;
}
header nav {
  width: 60%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}
header nav ul li a:hover {
  color: #E45EC2;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Banner presentacion Index*/
.bannerPresentacion {
  background-image: url(../media/bannerpresentacionn.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 100px 0;
}
.bannerPresentacion .we {
  font-family: "Sendflowers";
  font-size: 6rem;
}

/*Cuadros Img generales Index*/
.cuadrosPresentacion {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.cuadrosPresentacion section {
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: #E45EC2;
}
.cuadrosPresentacion section img {
  width: 200px;
  height: auto;
  border-radius: 50px;
}
.cuadrosPresentacion section p {
  margin: 20px;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 50px;
}

/*Segundo banner Index*/
.bannerSegundo {
  background-image: url(../media/Bannersegundo.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
  padding: 50px 0;
}

/*Tarjetas Index*/
.tarjetas-index .tarjetas {
  width: 18rem;
  background-color: hsl(315, 93%, 89%);
  margin-bottom: 20px;
}
.tarjetas-index .tarjetas .boton {
  background-color: #4CAF50;
  border-color: #0c0908;
}
.tarjetas-index .tarjetas .boton:hover {
  background-color: #F0ABCC;
  border-color: #E45EC2;
}

.texto-card p {
  background-color: rgba(228, 94, 194, 0.5490196078);
  font-family: "TiroTamil";
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Main Servicios*/
/*Banner servicios*/
.bannerServicios {
  background-image: url(../media/bannerservicios.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 100px 0;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.bannerServicios .we {
  font-family: "Sendflowers";
  font-size: 6rem;
}
.bannerServicios h2 {
  font-size: 2rem;
  margin-top: 15px;
}

/*Tarjetas servicios*/
.tarjetas {
  height: 400px;
  padding: 5px;
}
.tarjetas img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  transition: 0.5s;
}
.tarjetas img:hover {
  transform: scale(1.2);
}
.tarjetas .boton {
  background-color: #4CAF50;
  border-color: #0c0908;
}
.tarjetas .boton:hover {
  background-color: #F0ABCC;
  border-color: #E45EC2;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Main Tips*/
/*contenedor grid*/
.contenedor-grid {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "number1 texto1 img1" "number2 texto2 img2" "number3 texto3 img3" "number4 texto4 img4" "number5 texto5 img5" "number6 texto6 img6";
  grid-template-columns: 10% 60% 20%;
  grid-template-rows: 100px 250px 250px 250px 250px 250px 250px;
  margin-left: 50px;
  align-items: center;
}
.contenedor-grid img {
  width: 50%;
  height: auto;
  margin: 5px;
}
.contenedor-grid p {
  font-size: 2rem;
  font-family: "TiroRamil";
}

/*declaracion de grid areas*/
.grid-titulo {
  grid-area: titulo;
  text-align: center;
  color: #0c0908;
  text-shadow: 4px 4px 2px rgba(218, 208, 208, 0.6);
  margin-top: 10px;
}

.grid-number-1 {
  grid-area: number1;
}

.grid-number-2 {
  grid-area: number2;
}

.grid-number-3 {
  grid-area: number3;
}

.grid-number-4 {
  grid-area: number4;
}

.grid-number-5 {
  grid-area: number5;
}

.grid-number-6 {
  grid-area: number6;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-texto-3 {
  grid-area: texto3;
}

.grid-texto-4 {
  grid-area: texto4;
}

.grid-texto-5 {
  grid-area: texto5;
}

.grid-texto-6 {
  grid-area: texto6;
}

.grid-img-1 {
  grid-area: img1;
}

.grid-img-2 {
  grid-area: img2;
}

.grid-img-3 {
  grid-area: img3;
}

.grid-img-4 {
  grid-area: img4;
}

.grid-img-5 {
  grid-area: img5;
}

.grid-img-6 {
  grid-area: img6;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Main Info*/
/*Banner Info*/
.bannerInfo {
  display: flex;
  background-image: url(../media/bannerNosotros.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.tituloPresentacion {
  display: flex;
  font-size: 2rem;
  color: #FFFFFF;
  text-shadow: 4px 4px 2px #E45EC2;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
  background-color: #0c0908;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  text-align: center;
  font-size: 1.5rem;
}
.presentacion p {
  background-color: #0c0908;
  margin: 20px;
  color: #FFFFFF;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Main contacto*/
.contenedor-contacto {
  display: grid;
  grid-template-areas: "titulo titulo" "subtitulo subtitulo" "nombre nombre" "fecha fecha" "servicios servicios" "celular celular" "boton boton";
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #F0ABCC;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contenedor-contacto .titulo-contacto {
  grid-area: titulo;
  text-align: center;
  text-shadow: #ccc;
}
.contenedor-contacto .titulo-secundario {
  grid-area: subtitulo;
  text-align: center;
}
.contenedor-contacto .nombre {
  grid-area: nombre;
  display: flex;
  flex-direction: column;
}
.contenedor-contacto .fecha {
  grid-area: fecha;
  display: flex;
  flex-direction: column;
}
.contenedor-contacto .servicio {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
}
.contenedor-contacto .celular {
  grid-area: celular;
  display: flex;
  flex-direction: column;
}
.contenedor-contacto .boton-contacto {
  grid-area: boton;
  text-align: center;
  margin-top: 5px;
}
.contenedor-contacto label {
  font-weight: bold;
  margin-bottom: 10px;
}
.contenedor-contacto input[type=text], .contenedor-contacto input[type=date], .contenedor-contacto input[type=tel], .contenedor-contacto select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contenedor-contacto input[type=submit] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
.footer {
  background-color: #E45EC2;
  display: flex;
  padding: 10px;
  font-family: "TiroTamil";
  justify-content: space-evenly;
}
.footer img {
  width: 50px;
  height: auto;
  border-radius: 100px;
}
.footer p {
  text-align: center;
  margin: 10px;
}

.logoWP {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 80px;
}

/*sass --watch sass/estilos.scss css/estilos.css*/
/*Responsive movile*/
@media only screen and (max-width: 500px) {
  /*Header*/
  header {
    flex-direction: column;
    padding: 10px;
  }
  header .logo {
    width: 40px;
    margin-bottom: 10px;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    flex-direction: column;
    padding: 0;
  }
  header nav ul li {
    margin-bottom: 10px;
  }
  /*Main Index*/
  .bannerPresentacion {
    width: 100%;
    height: auto;
  }
  .cuadrosPresentacion {
    flex-direction: column;
  }
  .cuadrosPresentacion section {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cuadrosPresentacion section img {
    width: 100%;
    height: auto;
  }
  .cuadrosPresentacion section p {
    text-transform: lowercase;
    font-size: 10px;
  }
  /*Main Servicios*/
  .bannerServicios {
    padding: 80px 0;
  }
  .bannerServicios .we {
    font-size: 4rem;
  }
  .bannerServicios h2 {
    font-size: 1.5rem;
  }
  /*Main Tips*/
  .contenedor-grid {
    grid-template-columns: 20% 70%;
    grid-template-rows: repeat(19, auto);
    grid-template-areas: "titulo titulo" "number1 img1" "texto1 texto1" "number2 img2" "texto2 texto2" "number3 img3" "texto3 texto3" "number4 img4" "texto4 texto4" "number5 img5" "texto5 texto5" "number6 img6" "texto6 texto6";
  }
  .contenedor-grid .grid-titulo {
    font-size: 3rem;
  }
  .contenedor-grid p {
    text-align: center;
  }
  /*Main Contactos*/
  .contenedor-contacto {
    grid-template-columns: 100%;
    grid-gap: 10px;
    padding: 10px;
  }
  .contenedor-contacto .titulo-contacto {
    font-size: 24px;
  }
  .contenedor-contacto .titulo-secundario {
    font-size: 18px;
  }
  /*Footer*/
  .footer {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .logoWP {
    width: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
}
/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 900px) {
  /*Header*/
  header {
    flex-direction: row;
    padding: 20px;
  }
  header .logo {
    width: 60px;
    margin-right: 20px;
  }
  header nav {
    width: auto;
  }
  header nav ul {
    flex-direction: row;
  }
  header nav ul li {
    margin-right: 20px;
  }
  /*Main Index*/
  .bannerPresentacion {
    padding: 80px 0;
  }
  .bannerPresentacion .we {
    font-size: 4rem;
  }
  .cuadrosPresentacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cuadrosPresentacion section {
    margin: 10px;
    width: 40px;
  }
  .cuadrosPresentacion section img {
    width: 100%;
    height: auto;
  }
  .cuadrosPresentacion section p {
    font-size: 16px;
  }
  /*Main Servicios*/
  .bannerServicios {
    padding: 60px 0;
  }
  .bannerServicios .we {
    font-size: 3rem;
  }
  .bannerServicios h2 {
    font-size: 1.5rem;
  }
  /* Main Tips */
  .contenedor-grid {
    grid-template-columns: 20% 70%;
    grid-template-rows: repeat(19, auto);
  }
  .contenedor-grid .grid-titulo {
    font-size: 2.5rem;
  }
  /* Main Contactos */
  .contenedor-contacto {
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 20px;
  }
  .contenedor-contacto .titulo-contacto {
    font-size: 20px;
  }
  .contenedor-contacto .titulo-secundario {
    font-size: 16px;
  }
  /* Footer */
  .footer {
    flex-direction: row;
    padding: 30px;
  }
  .logoWP {
    width: 60px;
    bottom: 20px;
    right: 20px;
  }
}
/*Responsive tablet*/
@media only screen and (min-width: 501px) and (max-width: 900px) {
  /*Header*/
  header {
    flex-direction: row;
    padding: 20px;
  }
  header .logo {
    width: 60px;
    margin-right: 20px;
  }
  header nav {
    width: auto;
  }
  header nav ul {
    flex-direction: row;
    padding: 0;
  }
  header nav ul li {
    margin-right: 20px;
  }
  /*Main Index*/
  .bannerPresentacion {
    width: 100%;
    height: auto;
  }
  .cuadrosPresentacion {
    flex-direction: row;
  }
  .cuadrosPresentacion section {
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
  }
  .cuadrosPresentacion section img {
    width: 100%;
    height: auto;
  }
  .cuadrosPresentacion section p {
    text-transform: lowercase;
    font-size: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
