/*Import fuentes*/

@font-face {
    font-family:'TiroTamil';
    src: url(./media/TiroTamil-Regular.ttf);
}

@font-face {
    font-family: 'Sendflowers';
    src: url(./media/Send_Flowers/SendFlowers-Regular.ttf);
}

/*Font size*/
html{
    font-family: 'TiroTamil';
    font-size: 62.5%;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.7rem;
}
p{
    font-size: 1.5rem;
}
