@use '_variables.scss' as*;
@use '_reset.scss';
@use '_fonts.scss';

/*Responsive movile*/
@media only screen and (max-width: 768px){
    /*Header*/
    header{
        flex-direction: column;
        padding: 10px;

        .logo{
            width:40px;
            margin-bottom: 10px;
        }

        nav{
            width: 100%;
            ul{
                flex-direction: column;
                padding: 0;
                li{
                    margin-bottom: 10px;
                }
            }
        }

    }

    /*Main Index*/
    .bannerPresentacion{
        width: 100%;
        height: auto;
    }

    .cuadrosPresentacion{
        flex-direction: column;

        section{
            margin-bottom: 10px;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img{
                width: 100%;
                height: auto;
            }
            p{
                text-transform: lowercase;
                font-size: 10px;
            }
        }
    }

    /*Main Servicios*/
    .bannerServicios{
        padding: 80px 0;
        
        .we{
            font-size: 4rem;
        }
        h2{
            font-size: 1.5rem;
        }
    }

    /*Main Tips*/
    .contenedor-grid {
        grid-template-columns: 20% 70%;
        grid-template-rows: repeat(19, auto);
        
        grid-template-areas: 
        "titulo titulo"
        "number1 img1"
        "texto1 texto1"
        "number2 img2"
        "texto2 texto2"
        "number3 img3"
        "texto3 texto3"
        "number4 img4"
        "texto4 texto4"
        "number5 img5"
        "texto5 texto5"
        "number6 img6"
        "texto6 texto6";

        .grid-titulo{
            font-size: 3rem;
        }
        p{
            text-align: center;
        }
    }

    /*Main Contactos*/
    .contenedor-contacto {
        grid-template-columns: 100%;
        grid-gap: 10px;
        padding: 10px;
        
        .titulo-contacto{
            font-size: 24px;
        }
        .titulo-secundario{
            font-size: 18px;
        }
    }

    /*Footer*/
    .footer{
        flex-direction: column;
        padding: 20px;
        align-items:center;
    }
    .logoWP{
        width: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }
}