
/*Declaracion de colores*/
$primary-color: #F0ABCC;
$secundary-color: #E45EC2;
$background: #f15aa388;
$black-color: #0c0908;
$white-color: #FFFFFF;

/*fonts*/
$font-base: 'TiroRamil';
$font-tittle-we: 'Sendflowers';

/*boton*/
@mixin boton-estilos{
    background-color: #4CAF50;
    border-color: #0c0908;
    
    &:hover{
        background-color:#F0ABCC;
        border-color: #E45EC2;
    }
}
